.table-headers {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.all-bookings {
  min-width: 730px;
}

.bookings-container {
  overflow: auto;
}

@media (max-width: 1200px) {
  .all-bookings h6,
  .all-bookings select {
    font-size: 14px;
    font-weight: normal;
  }
}
