.table-headers {
  background-color: #ffffff;
  border-radius: 10px;
  transition: 0.5s;
}

.dark-mode .table-headers {
  background-color: #222222;
  border-bottom: 1px solid #6e6e6e !important;
}

.dark-mode .booking-border {
  border-bottom: 1px solid #6e6e6e !important;
}

.all-bookings {
  min-width: 730px;
}

.bookings-container {
  overflow: auto;
}

@media (max-width: 1200px) {
  .all-bookings h6,
  .all-bookings select {
    font-size: 14px;
    font-weight: normal;
  }
}
