.sidebar {
  background-image: linear-gradient(40deg, #198fd3, #00cdec);
  position: fixed;
  min-width: 201px;
  width: 15%;
  min-height: 100vh;
}

@media (max-width: 1199.98px) {
  .sidebar {
    width: 23%;
  }
}

@media (max-width: 991.98px) {
  .sidebar {
    position: sticky;
    width: 100%;
    min-height: 0;
    border-radius: 10px;
    margin-top: 10px;
  }
}

.sidebar li:hover span {
  display: inline-block;
  transform: translate(5px);
}
