.login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.login input[type="text"],
.login input[type="password"],
.login input[type="email"] {
  transition: 0.5s;
  border: none;
  border-bottom: 1px solid lightgrey;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus,
.login input[type="email"]:focus {
  transition: 0.5s;
  box-shadow: none;
  box-shadow: 0 1.5px 0px rgb(87, 174, 255);
}

.login-inner {
  padding: 8%;
  border-radius: 10px;
  box-shadow: 10px 10px 30px lightgray;
  max-width: 500px;
}
.input {
  font-size: 16px;
  display: block;
  border-radius: 5px;
  padding: 13px;
  transition: 0.5s;
}

.login input[type="submit"] {
  border-radius: 10px;
}

.email-password-login {
  border: 1px solid #b8b8b8;
  padding: 5%;
  border-radius: 7px;
}
.password-section {
  position: relative;
}
.eye {
  font-size: 20px;
  position: absolute;
  top: 19px;
  right: 4%;
  cursor: pointer;
  color: #6710f4;
}
.create-account {
  cursor: pointer;
}
.create-account:hover {
  text-decoration: underline;
}
.icon {
  font-size: 40px;
  cursor: pointer;
}
.fb {
  color: #1094f4;
}
.google {
  color: #e13e31;
}
.error {
  max-width: 320px;
}
