.header-container {
  overflow: hidden;
  background-color: #d8f3fe;
}

.dark-mode .header-container {
  background-color: #222222 !important;
}

.header-row {
  min-height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
}

.header-row img {
  width: 80%;
}

.path1,
.path2 {
  transition: 0.5s;
}

.bottom-side {
  text-align: center;
}

@media (max-width: 991.98px) {
  .bottom-side {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .header-row img {
    width: 95%;
  }
  .header-row {
    min-height: unset;
  }
}
