.header-container {
  overflow: hidden;
}

.header-row {
  min-height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
}

.header-row img {
  width: 80%;
}

.svg-background {
  min-height: 100vh;
  min-width: 100%;
}

.path1,
.path2 {
  transition: 0.5s;
}

.dark-mode .svg-background .path1 {
  fill: #0a0a0a;
}

.dark-mode .svg-background .path2 {
  fill: #2d294d;
}

.bottom-side {
  text-align: center;
}

.bg-image {
  left: 18.386%;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  z-index: -10;
}

.header-links {
  position: relative;
  width: 3.2rem;
  height: 3.2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.header-icon {
  font-size: calc(2.1rem + 0.3vw);
}

.header-links:hover::after {
  opacity: 1;
  transform: scale(1.1);
}

.header-links:hover {
  transform: translateY(-8px);
}

.header-links::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: -10;
  border-radius: 50%;
  transform: scale(0);
  width: 3.2rem;
  height: 3.2rem;
  opacity: 0;
  transition: 0.3s;
}

.link-1 {
  color: #0084ff;
  transition: 0.3s;
}

.link-2 {
  color: #54bbff;
  transition: 0.3s;
}

.link-3 {
  color: #d82b34;
  transition: 0.3s;
}

.link-1:hover,
.link-2:hover,
.link-3:hover {
  color: #ffffff;
}

.link-1::after {
  background-color: #0084ff;
}

.link-2::after {
  background-color: #54bbff;
}

.link-3::after {
  background-color: #d82b34;
}

@media (max-width: 1600px) {
  .bg-image {
    left: 13%;
  }
}

@media (max-width: 1500px) {
  .bg-image {
    left: 10%;
  }
}

@media (max-width: 1300px) {
  .bg-image {
    left: 5%;
  }
}

@media (max-width: 1199.98px) {
  .bg-image {
    left: 0;
    width: 1200px;
  }
}

@media (max-width: 991.98px) {
  .bg-image {
    top: 0;
    left: 70%;
    transform: translateX(-50%);
  }
  .bottom-side {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .header-row img {
    width: 95%;
  }
}
@media (max-width: 767.98px) {
  .svg-background {
    min-height: 50vh;
    width: 100%;
  }
  .header-row {
    min-height: unset;
  }
  .bg-image {
    left: 60%;
  }
}

@media (max-width: 500px) {
  .bg-image {
    left: 40%;
  }
}
