.navbar-brand {
  font-family: "Titillium Web", sans-serif;
  font-size: calc(0.98rem + 0.25vw);
  font-weight: 600;
  color: #0f0097 !important;
}
.home-nav-link.active,
.nav-item:hover .home-nav-link {
  color: #bd00bd !important;
  position: relative;
  transition: 0.5s;
}

.navbar-bg {
  background-color: #fafafa;
  height: 3.5rem;
}

.navbar-transparent {
  background-color: transparent;
  height: 5rem;
}

.navbar-transparent .home-nav-link {
  color: #fafafa;
}

.navbar-transparent .home-nav-link.active,
.navbar-transparent .nav-item:hover .home-nav-link {
  color: #001c79 !important;
}

.home-nav-link.active::after,
.nav-item:hover .home-nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 7px;
  background-color: #bd00bd;
  height: 2px;
  width: 47px;
  border-radius: 50px;
  margin: 0 auto;
  animation: navbar-Animated 0.5s ease-in-out;
}

.navbar-transparent .home-nav-link.active::after,
.navbar-transparent .nav-item:hover .home-nav-link::after {
  background-color: #001c79;
}

@keyframes navbar-Animated {
  0% {
    width: 5px;
  }
  100% {
    width: 47px;
  }
}

.navbar a {
  color: #111111;
}

.user-logo {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(-3px);
}

.navbar {
  z-index: 100;
  transition: 0.5s;
}

.toggler-icon {
  position: relative;
  width: 40px;
  height: 35px;
  background-color: #39b0ff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  border-radius: 3px;
}
.toggler-icon::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 #fff;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  border: none;
}

.toggler-icon::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
  transform: translateY(10px);
}

.navbar-toggler .toggler-active {
  background-color: #ff1f69;
}
.navbar-toggler .toggler-active::before {
  transform: translateY(0) rotate(45deg);
  box-shadow: 0 0 0 #fff;
}
.navbar-toggler .toggler-active::after {
  transform: translateY(0) rotate(-45deg);
}

.name {
  color: #ffffff;
}

@media (max-width: 991.98px) {
  .navbar-nav {
    width: 105.44%;
    background-color: #fafafa;
    position: absolute;
    left: -130%;
    transition: all 0.5s;
  }
  .name {
    color: #0d6efd;
  }
  .navbar-nav-dark {
    background-color: #3a3a3a !important;
  }
  .navbar-transparent .home-nav-link {
    color: #111111;
  }
  .mobile {
    top: 8px;
    left: 50% !important;
    transform: translateX(-50%);
  }
  .navbar img {
    transform: translateY(0);
  }
}

@media (max-width: 560px) {
  .navbar-transparent .navbar-brand {
    color: #f3f3f3 !important;
  }
}
