.service,
.service-img {
  transition: transform 0.8s;
}

.service {
  border: 1px solid lightgrey;
  position: relative;
  overflow: hidden;
}

.service-img:hover {
  transform: rotate(360deg);
}

.service:hover {
  box-shadow: 10px 10px 30px lightgray;
  transform: scale(1.04);
  cursor: pointer;
  border: none;
}

.service:hover .list-group-item {
  background-color: initial !important;
}

.service:hover::after {
  opacity: 1;
  z-index: -10;
  animation: service-animation 0.5s ease-in-out;
}

.service::after {
  position: absolute;
  content: "";
  background-color: #ffa8a8;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0;
}

@keyframes service-animation {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 0;
  }
}
