.service,
.service-img {
  transition: transform 0.8s;
}

.service {
  border: 1px solid lightgrey;
}

.service-img:hover {
  transform: rotate(360deg);
}

.service:hover {
  box-shadow: 10px 10px 30px lightgray;
  transform: scale(1.05);
  cursor: pointer;
  border: none;
}
