.radius {
  border-radius: 10px;
}
.color-primary {
  color: rgb(111, 0, 255);
}
.link {
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

.dashboard-common {
  top: 35px;
}

.muted-text {
  color: #cccccc;
}
