body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  transition: background-color 0.5s;
}

body.dark-mode {
  background-color: #2c2c2c !important;
  color: #f6f6f6 !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #707070;
}

code {
  font-family: "Poppins", sans-serif;
}
