.payment-form label {
  color: #2860af;
  letter-spacing: 0.025em;
  font-weight: 500;
  margin-left: 7px;
}

.dark-mode .payment-form label {
  color: #3e8fff;
}

.StripeElement {
  box-shadow: 2px 2px 8px #cecece;
  padding: 10px;
  border-radius: 5px;
}

.dark-mode .StripeElement {
  box-shadow: 2px 2px 8px #141414;
}

.payment-form {
  min-width: 650px;
}

@media (max-width: 767px) {
  .payment-form {
    min-width: 500px;
  }
}

@media (max-width: 550px) {
  .payment-form {
    min-width: 430px;
  }
}

@media (max-width: 490px) {
  .payment-form {
    min-width: 85vw;
  }
}

@media (max-width: 390px) {
  .payment-form {
    min-width: 83vw;
  }
}
